<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movie Internet Database (NOT IMDB)</title>
</head>
<body>
  <h1>Add a Movie</h1>
  <form action="/success" method="post">
    <div class="form-group">
      <label for="movie-title">Movie Title:</label>
      <input type="text" name="movie-title" id="movie-title">

    </div>
    <div class="form-group">
      <label for="movie-actor">Actor:</label>
      <input type="text" name="movie-actor" id="movie-actor">
    </div>
    <button type="submit" name="button">Submit</button>
  </form>

</body>
</html>
